@import url('variables.css');
 

/* CARRITO */
#cart-container{
    text-align: center;
	width: 100%;
	text-align: center;
	padding-top:  100px;
    margin-bottom: 80px;
}


.carrito-card{
    background-color: var(--bg-color);
    width: 600px;
    padding: 20px;
    margin: 0px auto;
    max-width: 90%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.carrito-card img {
    height: 13rem;
    width: 13rem;
    object-fit: cover;
    border-radius: 0.5rem;
 
}

.carrito-info-text {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrito-info-text h4 {
 
    color: var(--text-color);
}

.carrito-info-text p {
    font-size: 1.2rem;
    color: var(--text-color);
 
}

.carrito-add {
 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.carrito-add button {
    background-color: #171F26;
    color: var(--text-color);
    border: 2px solid #0d74ce;
    padding: 0.2rem 0.6rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carrito-add button:hover {
    background-color: #0d74ce;
}

.carrito-add .cantidad {
    
    font-weight: bold;
    color: var(--text-color);
}
 

.carrito-btn {
    display: inline-block;
    color: var(--text-color);
    margin-top: 25px;
    padding: 0.8rem .8rem;
    border-radius: 0.25rem;
    display: inline-block;
    background-color: var(--card-color);
    cursor: pointer;
    transition: all .50s ease; 
 
}

.carrito-btn:hover {
    background-color: var( --main-color);
}
.carrito-section{
    text-align: center;
    padding: 40px 0px 50px;
}
#totales button{

    color: var(--text-color);
    margin-top: 10px;
  
    padding: 0.4rem .4rem;
    border-radius: 0.25rem;

    cursor: pointer;
    transition: all .50s ease; 
}
#totales #limpiar{
    background-color: var(--btn-limpiar);
    border: 2px solid var(--btn-limpiar);
}
#totales #comprar{
    background-color: var(--btn-comprar);
    border: 2px solid var(--btn-comprar);
}
#totales #limpiar:hover{
    background-color: var(--bg-color);
    border-color: var(--bg-color);
 
}
#totales #comprar:hover{
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}
 
 

.carrito-section{
    
    min-height: 100vh;
}



#carrito-vacio {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    text-align: center;
}

 